  <ion-header>
    <ion-toolbar color="dark" style="border-bottom: 1px solid white">
      <ion-title>
        Titulares
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- md: material design -->
  <ion-segment scrollable (ionChange)="segmentChanged($event)" mode="md" color="primary"> 
    <ion-segment-button checked mode="md" *ngFor="let categoria of categorias" [value]="categoria">
      <ion-label>{{categoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>

<ion-content color="dark">
  <app-noticias [noticias]="noticias"></app-noticias>
</ion-content>